

.medicine {
	width: 1200px;
	height: 332px;
	margin: 40px auto 0;
	border:1px solid #E4E4E4;
	
}

.medicine-on {
	display: flex;
	justify-content: space-between;
}





















