* {
	margin: 0;
	padding: 0;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
}

.top {
	background-color: #333;
}

.menu-wrap {
	height: 40px;
	background-color: #333333;
	margin: 0 auto;
	width: 1000px;
}

.menu {
	float: left;
	line-height: 40px;
}

.menu li {
	float: left;
	margin-right: 15px;
	font-size: 12px;
}

.menu li a {
	color: #b0b0b0;
}

.right-menu {
	float: right;
	line-height: 40px;
}

.right-menu li {
	float: right;
	margin-left: 15px;
}

.right-menu li a {
	color: #b0b0b0;
	font-size: 12px;
}







