
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: .44rem;
  /*background: #e43130;*/
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header .menu-icon {
  width: .4rem;
  height: .44rem;
  background: url("../imgs/icon/menu.png") no-repeat center / .2rem auto;
}

header .search-area {
  width: 2.73rem;
  height: .3rem;
  background: #fff;
  border-radius: .15rem;
  display: flex;
  align-items: center;
}

header .search-area .logo-icon {
  width: .2rem;
  height: .15rem;
  background: url("../imgs/icon/logo.png") no-repeat center / cover;
  margin: 0 .15rem;
  position: relative;
}

header .search-area .logo-icon:after {
  content: '';
  display: block;
  width: 0;
  border-left: .01rem solid #f00;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -.08rem;
}

header .search-area .search-icon {
  width: .2rem;
  height: .15rem;
  background: url("../imgs/icon/search.svg") no-repeat center / .15rem auto;
}

.search-area span:last-child {
  font-size: .14rem;
  margin-left: .1rem;
}

header .login {
  font-size: .14rem;
  padding-right: .1rem;
  color: #fff;
}

.banner a {
  display: block;
  height: 1.83rem;
}

.banner a img {
  width: 100%;
}

.menu-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-top: -.2rem;
  background: #fff;
  position: relative;
  border-radius: .1rem .1rem 0 0;
}

.menu-wrap a {
  width: 20%;
  padding: 10px 0;
}

.menu-wrap a img {
  width: .4rem;
  display: block;
  margin: 0 auto;
}

.menu-wrap a span {
  display: block;
  text-align: center;
  font-size: .14rem;
}


footer {
  height: .5rem;
  box-shadow: 0 0 .1rem rgba(0, 0, 0, .7);
  /*background: red;*/
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  background: #fff;
}

footer a {
  display: block;
  height: 100%;
  width: 20%;
}

footer a:nth-child(1) {
  background: #00FA9A;
}

footer a img {
  /*width: .6rem;*/
  height: 100%;
  display: block;
  margin: 0 auto;
}

footer a span {
  display: block;
  font-size: .14rem;
}

