
html,
body {
  /*height: 100%;*/
}

.header {
  height: 70px;
  background: #00FA9A;
}

.container {
  /*float: right;*/
  /*height: 100vh;*/
  height: calc(100vh - 75px);
  /*width: calc(100% - 200px);*/
  /*background: red;*/
}

.container .left {
  float: left;
  width: 200px;
  height: 100%;
  background: red;
}

.container .right {
  float: right;
  width: calc(100vw - 220px);
  height: 100%;
  background: green;
}

.iframe {
  height: 100%;
  width: 100%;
}
