body,div,dl,dt,dd,ul,li,pre,form,fieldset,select,input,textarea,button,p,blockquote,th,td,img,iframe,a{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*导航栏*/
.header-all{
    width: 100%;
    background-color: #f7faf7;
}
.header{
    height: 90px;
    width: 1200px;
    position: relative;
    margin: 0 auto;
}
.header .logo img{
    height: 44px;
    width: 175px;
    margin-top: 23px;
}
.header .nav{
    height: 90px;
    width: 780px;
    position: absolute;
    top: 26px;
    right: 0;
}
.header .nav div{
    width:103px;
    font-size:18px;
    line-height:36px;
    text-align: right;
    margin-right: 32px;
    float: left;
}
.header .nav div:nth-child(6){
    margin-right: 0;
}
.header .nav div>a{
    font-weight:400;
    color:rgba(51,51,51,1);
}
.header .nav .clickColor a{
    color: #00923F;
}
/*中部*/
.bg{
    background: url("../images/about_banner.png") -200px center no-repeat;
    height: 400px;
}
.itselfnav{
    height:40px;
    text-align: right;
    font-size: 12px;
    color:rgba(102,102,102,1);
    margin-top: 40px;
    margin-right: 80px;
}
.itselfnav a{
    color:rgba(102,102,102,1);
}
/*内容*/
.content{
    height: 780px;
    width: 1200px;
    margin: 0 auto;
}
.content>div{
    float: left;
}
.content .content-1{
    height: 210px;
    width: 290px;
    margin-right: 100px;
    text-align: center;
    border:1px solid rgba(220,220,220,1);
    border-radius:10px;
}
.content .content-1 div{
    height: 70px;
    line-height: 70px;
    font-size:30px;

}
.content .content-1 div:nth-child(1){
    background:rgba(0,146,63,1);
    border-radius:10px 10px 0 0;
    color:rgba(248,250,248,1);
}
.content .content-2{
    height: 780px;
    width: 800px;
    float: right;
    position: relative;
}
.content-2 .pictures img{
    display: block;
    float: left;
}
.content-2 .pictures img:nth-child(1){
    height: 296px;
    width: 500px;
}
.textBottom{
    height: 396px;
    width: 800px;
    font-size:14px;
    color:rgba(51,51,51,1);
    position: absolute;
    top: 371px;
    line-height:24px;
}
/*底部*/
.agreement{
    height: 30px;
    text-align: center;
    font-size: 14px;
    color:rgba(51,51,51,1);
    line-height:20px;
}
.footer{
    height: 280px;
    background:rgba(0,161,87,1);
    position: relative;
}
.footer .QR-code{
    height: 200px;
    text-align: center;
}
.footer .QR-code img{
    margin-top: 28px;

}
.footer .licence{
    height: 30px;
    width: 1020px;
    margin:  0 auto;
    text-align: center;
    font-size:12px;
    color:rgba(247,250,247,1);
    border-bottom:1px solid rgba(247,250,247,1);
}

.footer .licence span{
    width: 40px;
    text-align: center;
    margin: 0 10px;
}
.footer .licence a {
    color:rgba(247,250,247,1);
}
.footer .paper{
    font-size:12px;
    color:rgba(247,250,247,1);
    line-height:20px;
    text-align: center;
    margin-top: 20px;
}
.backTop{
    position: absolute;
    top: -71px;
    right: 10px;
}