body {
  padding-top: 100px;
}

.box {
  height: 200px;
  width: 500px;
  /*background: #00FA9A;*/
  margin: 0 auto;
  /*box-shadow: -10px -10px 100px #000, 10px 10px 20px red,  100px -100px 20px red;*/
  /*box-shadow: x y 10px #000;*/
  transition: 500s;
  background: #efefef;

  line-height: 200px;
  text-align: center;
  font-size: 60px;
  text-shadow: 10px 10px 10px #000, 100px -10px 10px red;
}

.box:hover {
  margin-top: -5px;
  /*box-shadow: 0 -5px 10px rgba(0 ,0, 0, .5);*/
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  transform: translate3d(0, -2px, 0);
}

