
.header {
  width: 1000px;
  margin: 0 auto;
  height: 100px;
  background: #00FA9A;
}

.login-btn {
  float: right;
  height: 50px;
  line-height: 50px;
  /*width: 150px;
  text-align: center;*/
  padding: 0 2em;
  background: red;
  margin-top: 25px;
  border-radius: 25px;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0 ,0 ,0 , .7);
  z-index: 100;
  /*display: none;*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.header:hover .modal {
  /*display: block;*/
}

.block {
  display: block;
}

.content {
  height: 300px;
  width: 500px;
  background: #fff;
  /*margin: 100px auto 0;*/
  /*position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -150px;*/
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 500ms;
}

.close-btn:hover {
  transform: rotate(90deg);
}

.close-btn img {
  width: 50px;
}

