.image-blocking{
	margin: 26px auto 41.05px;
	background-color: #f7f7f7;
	width: 1226px;
	height: 120.05px;
}

.img-blk-color-1{
	background-color: #d4f4fb;
}

.img-blk-color-2{
	background-color: #ff4424;
}

.img-blk-color-3{
	background-color: #bab5b2;
}

.img-blk-color-4{
	background-color: #27001d;
}